<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Siga a Dama</title>

        <link rel="stylesheet" href="css/css.css">
    </head>
    <body>
        <main>
            <section id="principal">
                <div>
                    <button id="jogar" onclick="window.location.href='/game'">Jogar</button>
                </div>
            </section>
        </main>
    </body>

    <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous">
    </script>
</html>