<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Siga a Dama</title>

    <link rel="stylesheet" href="../public/css/css.css">

    <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous">
    </script>

    <script src="../public/js/game.js"></script>
</head>
<body>
    <main id="principal">
        <div>
            <button id="jogar">Jogar</button>
        </div>
    </main>

    <main id="game">
        <section><img src=""></section>
        <section><img src=""></section>
        <section><img src=""></section>
    </main>
</body>
</html>